<a href="https://colab.research.google.com/github/NAHELALFATH/AI-FGA/blob/master/GMM_for_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import DataFrame
from sklearn.mixture import GaussianMixture

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
iris = pd.read_csv("/content/drive/My Drive/dataset_fix.csv")
x = pd.DataFrame(iris)
iris = x.iloc[:,1:]
iris.head()

   Uang Saku Per Bulan  ...  Uang Kamar Kos Per Bulan
0              1900000  ...                    830000
1              1600000  ...                    880000
2              1600000  ...                    860000
3              1700000  ...                    260000
4              2000000  ...                    560000

[5 rows x 4 columns]

In [0]:
iris.corr(method ='pearson')

                          Uang Saku Per Bulan  ...  Uang Kamar Kos Per Bulan
Uang Saku Per Bulan                  1.000000  ...                  0.011602
Uang Makan Per Bulan                 0.530084  ...                 -0.783677
Uang Pakaian Per Bulan              -0.035100  ...                  0.017187
Uang Kamar Kos Per Bulan             0.011602  ...                  1.000000

[4 rows x 4 columns]

In [0]:
gmm = GaussianMixture(n_components = 5).fit(iris)
labels = gmm.predict(iris)
gmm.score(iris)

-51.353370895356996

In [0]:
iris['labels']= labels 
iris0 = iris[iris['labels']== 0]
iris1 = iris[iris['labels']== 1]
#iris2 = iris[iris['labels']== 2]
iris.head()

   Uang Saku Per Bulan  Uang Makan Per Bulan  ...  Uang Kamar Kos Per Bulan  labels
0              1900000                706000  ...                    830000       2
1              1600000                506000  ...                    880000       1
2              1600000                476000  ...                    860000       1
3              1700000               1207000  ...                    260000       0
4              2000000               1084000  ...                    560000       2

[5 rows x 5 columns]

In [0]:
# plot three clusters in same plot 
plt.scatter(iris0[0], iris0[1], c ='r') 
plt.scatter(iris1[0], iris1[1], c ='yellow')

KeyError: ignored

In [0]:
print("Jumlah iterasi yang dibutuhkan : ", gmm.n_iter_)